.notfound {
  position: relative;
  text-align: center;
  margin: 4rem 0;

  &-error {
    font-size: 4rem;
    margin: 1rem 0;
  }

  &-line {
    border-top: 1px solid $default-shade;
    display: block;
    margin: 3rem auto;
    width: 4rem;
  }

  &-message {
    max-width: 26rem;
    margin: 0 auto;
  }

  &-image-container {
    padding-left: 50px;
  }

  & > hr {
    width: 100%;
  }

  a {
    text-decoration: underline;
  }
}
