main.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;

    .avatar {
        width: 150px;
        height: 150px;

        border-radius: 50%;
        background-image: url('https://lh3.googleusercontent.com/a/ACg8ocKwoGPN51_aUHX-THfugYkwf-mUbwB4GQiHOnadOTIuY8X1=s576-c-no');
        background-size: cover;
    }

    p {
        width: 40rem;
        font-style: italic;
        text-align: center;
    }
}