.catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-item {
    color: $default-color;
    display: block;
    padding: 1rem $content-horizontalPadding;
    width: 100%;
    max-width: $standard-content-width;

    @media (min-width: $standard-content-width) {
      border-radius: 8px;
    }

    &:hover, &:focus {
      background: $grey-3;
    }

    &:first-child {
      margin-top: 2rem;
    }
  }

  &-item-container {
    display: flex;
    flex-direction: column;
  }

  &-title {
    color: $default-shade;
    font-family: $serif-primary;
    font-weight: 400;
    font-size: 1.5rem;
    display: block;
    margin: 0.25rem 0 0;
    hyphens: auto;
  }

  // &-pinned {
  //   color: $default-tint;
  //   font-family: $serif-secondary;
  //   letter-spacing: .5px;
  // }

  &-item-meta {
    line-height: 0;
  }

  &-item-category, &-time {
    color: $grey-1;
    font-family: $sans-serif;
    font-size: 0.7rem;
  }

  &-divider {
    border-bottom: 1px solid $grey-2;
    margin: 1rem 0;
    width: 100%;
    max-width: $content-maxWidth;

    &:last-child {
      border-bottom: none;
    }

    @media (min-width: $pc-width) {
      margin: 1em;
    }
  }

  p {
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
    color: lighten($color: $default-color, $amount: 15%);
  }
}
