footer {
  display: block;
  margin: 0 auto;
  max-width: 690px;
  width: 100%;
}

footer {
  font-family: $serif-secondary;
  padding: 3rem 0 2rem;
  text-align: center;

  span {
    color: $grey-1;
    font-family: $sans-serif;
    font-size: .8rem;
  }
}