.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 690px;
  width: 100%;
}

main {
  @media (min-width: 600px) {
    width: 80%;
  }
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;
  margin: 0 auto;

  &-container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    position: relative;
    text-align: center;
    padding: 0 2rem;
  }

  &-brand-container {
    display: flex;
    flex-direction: column;
  }

  &-title {
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: 0.05rem;
  }

  &-brand {
    padding-left: 4px;
    & > svg {
      width: 50px;
      height: 50px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0.5rem 0 0;
    padding: 0;
  }

  li {
    // @include transition(all .2s ease-out);
    color: $default-color;
    opacity: .8;
    display: flex;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  li a {
    color: $default-color;
    font-family: $sans-serif;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    height: 100%;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      flex-direction: row;
      justify-content: space-between;
    }

    &-brand-container {
      flex-direction: row;
      align-items: center;
    }

    &-title {
      font-size: 1.3rem;
    }

    &-brand {
      order: 2;
      margin-top: -10px;

      & > svg {
        width: 32px;
        height: 32px;
      }
    }

    ul {
      margin: 0;

      li a {
        font-size: 0.9rem;
      }
    }
  }
}

footer {
  font-family: $serif-secondary;
  padding: 3rem 0 2rem;
  text-align: center;

  span {
    color: $grey-1;
    font-family: $sans-serif;
    font-size: .8rem;
  }
}