.pagination {
  display: flex;
  justify-content: center;
  border-top: 1px solid $color-main-divider;
  font-family: $serif-secondary;

  &-container {
    display: flex;
    justify-content: space-between;
    max-width: $standard-content-width;
    width: 100%;
    padding: 2rem $content-horizontalPadding 0;
  }

  span {
    color: $default-shade;
    font-size: 1rem;
  }

  .arrow {
    color: $default-color;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}