.pagination {
  display: flex;
  justify-content: center;
  border-top: 1px solid $color-main-divider;
  font-family: $serif-secondary;

  &-container {
    display: flex;
    justify-content: space-between;
    max-width: $standard-content-width;
    width: 100%;
    padding: 2rem $content-horizontalPadding 0;
  }

  span {
    color: $default-shade;
    font-size: 1rem;
  }

  .arrow {
    color: $default-color;
    display: flex;
    align-items: center;
    gap: 0.3rem;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }

    .pagin-title {
      display: none;

      @media (min-width: $pc-width) {
        display: block;
      }

      font-size: 0.7rem;
      font-family: $monospaced;
      max-width: 9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}